.container-form {
    background-color: #53c547;
    opacity: 0.8;
    display: block;
    padding: 10px;
    border-radius: 10px;
    padding: 20px;
}

.margin-element {
    margin-bottom: 15px;
}

.center-element {
    text-align: center;
}

.adjust-element {
    width: 300px !important;
    height: 30px !important;
    display: flex;
    align-items: center;
}

.button-element {
    width: 100px !important;
    height: 50px !important;
    background-color: #005;
    color: #fff;
}

.button-element:hover {
    background-color: #045;
    transform: scale(1.1);
    cursor: pointer;
}
